body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

/* 🌙 modo dark */
.dark {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

/* ☀️ modo light */
.container:not(.dark) {
  background: #f1f5f9;
  color: #020617;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.btn-new {
  margin-top: 25px;
  padding: 14px 28px;
  background: linear-gradient(45deg,#6366f1,#4f46e5);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 10px 30px rgba(99,102,241,0.4);
}

.btn-new:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 20px 50px rgba(99,102,241,0.6);
}

.theme-btn {
  margin-bottom: 20px;
  padding: 8px 16px;
  border: none;
  background: #111827;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
