body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

/* 🌙 modo dark */
.dark {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

/* ☀️ modo light */
.container:not(.dark) {
  background: #f1f5f9;
  color: #020617;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.btn-new{
  background: linear-gradient(135deg,#7c3aed,#6366f1);
  border:none;
  padding:14px 28px;
  border-radius:14px;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  margin-top:20px;
  transition:0.3s;
}

.btn-new:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px rgba(99,102,241,0.6);
}


.theme-btn{
  background: linear-gradient(135deg,#6366f1,#4f46e5);
  border:none;
  padding:12px 22px;
  border-radius:12px;
  color:white;
  font-weight:bold;
  cursor:pointer;
  margin-bottom:20px;
  transition:0.3s;
}

.theme-btn:hover{
  transform:scale(1.05);
}

